@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body::-webkit-scrollbar{
  width: .7rem;
}
body::-webkit-scrollbar-track{
  background-color: #D5D5D5;
  border-radius: 100vw;
  border: 0.2rem solid rgba(97, 137, 102, .5);
  margin-block: .3rem;
}

body::-webkit-scrollbar-thumb{
  background-color: hsl(148, 25%, 23%);
  border-radius: 1rem;
  &:hover{
    background-color: hsl(148, 83%, 42%,.5);
  }
}

body {
  font-family: "eb garamond", serif;
  background-color: #29422C;
}


.maxwidth {
  max-width: 1280px;
}

.secBack {
  background-color: #D5D5D5;
}


.back {
  background-image: url("../../public/images//mountain.png");

}

.banner {
  background-image: url("../../public/images/image1 1.png");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}